<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Twitch API play</title>
</head>
<body>
<h1>Twitch API play</h1>
<p>Auths with twitch oauth2.</p>
<div class="links">
  <ol>
    <li><a href={{ auth_url }}>auth with twitch</a></li>
    <li><a href={{ url_for("write") }}>write follow powershell scripts to disk</a></li>
    <li><a href={{ url_for("follows") }}>diplay follows</a></li>
    <li><a href={{ url_for("user") }}>diplay user details</a></li>
  </ol>
</div>
</body>
</html>